
body {
      font-family: "Poppins", sans-serif;
      background-color: var(--light-grey);
      color: var(--navy);
    }


.custom-minimal-card{
    border-radius: 1rem !important;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.02); 
    transition: all 0.25s ease-in-out;
}
.custom-minimal-card:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-color: #dee2e6 !important;
}
.tracking-wider{
    letter-spacing: 1.5px;
}

.tracking-wide{
    letter-spacing: 1px;
}
.badge.rounded-pill{
    font-size: 0.75rem;
    font-weight: 500;
}

